html, body, p, h1, h2, h3, h4, a, span {
	font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
	display: inline !important;
}

h2, h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
}

h2 .red, h3 .red {
	color: #ED1C24;
}


ul {
	padding: 0;
	list-style-type: none;
}

a {
	color: #707070;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
}

a:hover {
	color: #ED1C24;
}

a.red-button {
	background-color:#ed1c23;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	padding: 16px 31px;
	text-decoration: none;
}

a.red-button:hover {
	background-color:#ed1c23;
}

li.active a {
	color: #ED1C24;
}

.flex {
	display: flex;
}

.fas {
	color: #ED1C24;
}


/***************************
* HEADER STYLES
***************************/
header {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0;
	color: #000;
	opacity: 1;
	flex: 1 0 auto;
}

header .fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background-color: #fff;
	border-bottom: 1px solid #000;
	padding: 24px 18px;
}

header .logo {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    height: 100%;
}

header .logo img{
	margin-right: 20px;
	margin-left: 10px;
	max-width: 344px;
}

header .menus {
	display: inline-block;
    vertical-align: top;
    width: 69%;
    text-align: right;
}

header #nav {
	display:block !important;
}

#nav li {
	text-transform: uppercase;
	padding-left: 46px;
}

header .menu .social a {
	color: #ED1C24;
}
header .menu .social a:hover, .menu .social a:target {
	color: #000;
}
header .menu-items {
	display: inline-block;
}
header .menu-items li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}

header .menu-items a {
	text-decoration: none;
}

#menu-toggle {
	display: none;
}

#mobile-logo {
	display: none;
}


@media (max-width: 970px) {

	.fixed-nav-bar {
		display: none;
	}

	header .menu-items a {
		display: block;
	}

	#mobile-logo {
		display: block;
		border-bottom: 1px solid #000;
	}


	#menu-toggle {
		display: block;
		position: relative;
		top: 50px;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;
	}

	#menu-toggle input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: 84%;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout: none;
	}

	#menu-toggle span {
		display: block;
		width: 33px;
		height: 4px;
		right: -88%;
		margin-bottom: 5px;
		position: relative;
		background: #ed1c23;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		opacity 0.55s ease;
	}

	#menu-toggle span:first-child {
		transform-origin: 0% 0%;
	}

	#menu-toggle span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

	#menu-toggle input:checked ~ span {
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: #ed1c23;
	}

	#menu-toggle input:checked ~ span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	#menu-toggle input:checked ~ span:nth-last-child(2) {
		transform: rotate(-45deg) translate(0, -1px);
	}

	#mobile-nav {
		position: absolute;
		width: 100%;
		margin: -100px 0 0 0;
		padding-top: 75px;
		background: #000;
		color: #fff;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		transform-origin: 0% 0%;
		transform: translate(0, -100%);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#mobile-nav a {
		color: #fff;
	}

	#mobile-nav a:hover {
		color: #ed1c23;
	}

	#mobile-nav a:active {
		color: #ed1c23;
	}

	#mobile-nav li {
		padding: 12px 0;
		font-size: 22px;
	}

	#menu-toggle input:checked ~ ul {
		transform: none;
	}

	header .menu-items li {
		display: block;
		margin-left: 24px;
	}
}






/***************************
* BODY STYLES
***************************/
.content {
	flex: 1 0 auto;
}

.content.home {
	padding-top: 150px;	
}

@media (max-width: 970px) {
	.content {
    	padding-top: 0;
    }
}

.padded {
    margin: 0 auto;
    width: 80%;
    padding: 24px 0
}





.block-cta {
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 488px;
	background-image: url(../images/background.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.block-cta img {
	flex: 33%;
}

@media (max-width: 690px) {
	.block-cta img {
		display: none;
	}
}

.block-cta div {
	flex: 66%;
}

.block-cta div h2 {
	font-size:40px;
	padding: 10px 0 10px 40px;
	background: #fff;
}

.block-cta div p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 20px;
	color: #707070;
    background: #fff;
    padding: 40px 0 40px 40px;
}




.articles {
	display: flex;
}

.articles article {
	flex: 1;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #707070;
}

.block-about h2,
.block-popular h2,
.block-latest-news h2,
.block-signup h2,
.block-map h2 {
	font-size: 30px
}

.block-popular article h3,
.block-latest-news article h3 {
	font-size: 20px
}

.block-popular article img {
	width: 100%;
}

@media (max-width: 690px) {
	.block-popular article:last-child {
		display:none;
	}
}

.block-latest-news article {
	width: 100%;
}

.block-latest-news article:first-child {
	padding-right: 30px;
}

.block-latest-news article:last-child {
	padding-left: 30px;
}

@media (max-width: 690px) {
	.block-latest-news article:first-child {
		padding: 0;
	}

	.block-latest-news article:last-child {
		display:none;
	}
}


.block-latest-news article img {
	width: 100%;
	height: auto;
	display: block;
}

.block-latest-news article div {
	border: solid 1px #ED1C24;
	border-top: 0;
	display: inline-block;
	width:100%;
	min-height: 190px;
}

.block-signup {
	background: #EFF0F2;
	text-align: center;
}


.block-about .flex div.left {
	flex: 66%;
	padding: 0 30px 0 0;
}

.block-about .flex div.right {
	flex: 33%;
	padding: 0 30px 0 0;
}

.block-map .flex div.left {
	flex: 40%;
}

.block-map .flex div.right {
	flex: 60%;
}

.block-map ul li {
	font-size: 20px;
	color: #ED1C24;
	margin: 0 0 8px 0;
}

.block-map ul li span {
	margin-left: 16px;
	display: inline-flex;
}

.image-stack {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	position: relative;
}

@media (max-width: 690px) {
	.image-stack {
		display: none;
	}
}

.image-stack .top {
	grid-column: 1 / span 8;
	grid-row: 1;
	padding-top: 20%;
	z-index: 1;
}

.image-stack .bottom {
	grid-column: 4 / -1;
	grid-row: 1;
}


.flex.menu-page .menu-content {
	flex: 75%;
	display: flex;
    flex-wrap:wrap;
}

.flex.menu-page .menu-filters {
	flex: 25%;
}


.flex.menu-page .menu-filters label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.flex.menu-page .menu-filters label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}


.flex.menu-page .menu-filters label:hover input ~ .radiomark,
.flex.menu-page .menu-filters label:hover input ~ .checkmark {
  background-color: #ccc;
}


.flex.menu-page .menu-filters label input:checked ~ .radiomark {
  background-color: #2196F3;
}

.radiomark:after,
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.flex.menu-page .menu-filters label input:checked ~ .radiomark:after,
.flex.menu-page .menu-filters label input:checked ~ .checkmark:after {
  display: block;
}

.flex.menu-page .menu-filters label .radiomark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.flex.menu-page .menu-filters label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



.menu-content .product {
	flex-basis:40%;
	width: 45%;
	display: flex;
	border: solid 1px #ED1C24;
	margin: 10px;
    padding: 10px;
}

.menu-content .product .tags span {
	background-color:#000;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	font-size: 8px;
	font-weight: bold;
	padding: 4px 4px;
	text-decoration: none;
}

@media (max-width: 690px) {
	.menu-content .product {
		flex-basis:100%;
	}
}




/***************************
* MCE STYLES
***************************/
#mce-EMAIL {
	width: 40%;
	font-size:16px;
	padding:8px;
	border: none;
	border-bottom: 1px solid #4A4A49;
	box-shadow: 0px 0px 0px 0px;
	margin-bottom: 30px;
}

#mc-embedded-subscribe {
	background-color:#ed1c23;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	padding: 16px 31px;
	text-decoration: none;
	border: none;
}

/***************************
* FOOTER STYLES
***************************/
footer {
	flex-shrink: 0;
    background: #000;
    padding: 24px 18px;
    border-top: 1px solid #000;
}

	footer .logo {
	    display: inline-block;
	    vertical-align: top;
	    width: 30%;
	    height: 100%;
	}

	footer .logo img{
		margin-right: 20px;
		margin-left: 10px;
		max-width: 344px;
	}
