html, body, p, h1, h2, h3, h4, a, span {
	font-family: 'Montserrat', sans-serif;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h1 {
	display: inline !important;
}

h2, h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
}

h2 .c, h3 .red {
	color: #ED1C24;
}

.closed {
	text-anchor: center;
}

ul {
	padding: 0;
	list-style-type: none;
}

a {
	color: #707070;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
}

a:hover {
	color: #ED1C24;
}

.red-button {
	background-color:#ed1c23 !important;
	display: inline-block  !important;
	cursor: pointer  !important;
	color: #ffffff  !important;
	font-size: 15px  !important;
	font-weight: bold  !important;
	padding: 16px 31px  !important;
	text-decoration: none  !important;
	border-radius: 0  !important;
}

.red-button.margin {
	margin-top: 10px;
}

.red-button:hover {
	background-color:#ed1c23  !important;
}

.black-button {
	background-color:#000 !important;
	display: inline-block  !important;
	cursor: pointer  !important;
	color: #ffffff  !important;
	font-size: 15px  !important;
	font-weight: bold  !important;
	padding: 16px 31px  !important;
	text-decoration: none  !important;
	border-radius: 0  !important;
}

.black-button.margin {
	margin-top: 10px;
}


.black-button:hover {
	background-color:#000  !important;
}

li.active a {
	color: #ED1C24;
}

.fas {
	color: #ED1C24;
}

.flex {
	display: flex;
}

/***************************
* HEADER STYLES
***************************/
header {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 0;
	color: #000;
	opacity: 1;
	order: 1;
	height: 126px;
}

header .fixed-nav-bar {
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background-color: #fff;
	border-bottom: 1px solid #000;
	padding: 24px 18px 0 18px;
}

header .menu {
	display: flex;
    justify-content: space-between;
}

header .menu h1 {
	margin: 0;
}

header .logo {
    display: inline-block;
    vertical-align: top;
}

header .logo img{
	max-width: 344px;
}

header .menus {
	display: inline-block;
    vertical-align: top;
    text-align: right;
}

header #nav {
	display:block !important;
}

#nav li {
	text-transform: uppercase;
	padding-left: 46px;
}

header .menu .social a {
	color: #ED1C24;
}
header .menu .social a:hover, .menu .social a:target {
	color: #000;
}
header .menu-items {
	display: inline-block;
}
header .menu-items li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}

header .menu .social .phone a {
	font-size: 20px;
}

header .menu-items a {
	text-decoration: none;
}

#menu-toggle {
	display: none;
}

#mobile-logo {
	display: none;
}

@media (max-width: 700px) {

	.fixed-nav-bar {
		display: none;
	}

	header .menu-items a {
		display: block;
	}

	#mobile-logo {
		display: block;
		border-bottom: 1px solid #000;
		padding: 0 18px 0 18px;
	}


	#menu-toggle {
		display: block;
		position: relative;
		top: 50px;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;
	}

	#menu-toggle input {
		display: block;
		width: 40px;
		height: 40px;
		position: absolute;
		top: -5px;
		left: 84%;
		cursor: pointer;
		opacity: 0;
		z-index: 2;
		-webkit-touch-callout: none;
	}

	#menu-toggle span {
		display: block;
		width: 33px;
		height: 4px;
		right: -88%;
		margin-bottom: 5px;
		position: relative;
		background: #ed1c23;
		border-radius: 3px;
		z-index: 1;
		transform-origin: 4px 0px;
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
		opacity 0.55s ease;
	}

	#menu-toggle span:first-child {
		transform-origin: 0% 0%;
	}

	#menu-toggle span:nth-last-child(2) {
		transform-origin: 0% 100%;
	}

	#menu-toggle input:checked ~ span {
		opacity: 1;
		transform: rotate(45deg) translate(-2px, -1px);
		background: #ed1c23;
	}

	#menu-toggle input:checked ~ span:nth-last-child(3) {
		opacity: 0;
		transform: rotate(0deg) scale(0.2, 0.2);
	}

	#menu-toggle input:checked ~ span:nth-last-child(2) {
		transform: rotate(-45deg) translate(0, -1px);
	}

	#mobile-nav {
		position: absolute;
		width: 100%;
		margin: -100px 0 0 0;
		padding-top: 75px;
		background: #000;
		color: #fff;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;
		transform-origin: 0% 0%;
		transform: translate(0, -100%);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#mobile-nav a {
		color: #fff;
	}

	#mobile-nav a:hover {
		color: #ed1c23;
	}

	#mobile-nav a:active {
		color: #ed1c23;
	}

	#mobile-nav li {
		padding: 12px 0;
		font-size: 22px;
	}

	#menu-toggle input:checked ~ ul {
		transform: none;
	}

	header .menu-items li {
		display: block;
		margin-left: 24px;
	}
}

/***************************
* CONTENT STYLES
***************************/
.content {
	flex: 1 0 auto;
	order: 2;
	margin-bottom: 0.83em;
}

.padded {
    margin: 0 auto;
    width: 80%;
}

.articles {
	display: flex;
}

.articles article {
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	color: #707070;
}

.block-about h2,
.block-popular h2,
.block-latest-news h2,
.block-signup h2,
.block-map h2,
.block-signup h2,
.block-times h2 {
	font-size: 30px
}

.block-popular article h3,
.block-latest-news article h3 {
	font-size: 20px
}


	/***************************
	* HOME
	***************************/
	.block-cta {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		background-image: url(../images/background.svg);
		background-repeat: no-repeat;
		background-size: cover;
	}

		.block-cta img {
			width: 30%;
			height: 30%;
	        object-fit: contain;
	        align-self: center;
		}

		.block-cta div {
			flex: 66%;
		}

		.block-cta div h2 {
			font-size:40px;
			padding: 10px 0 10px 40px;
			background: #fff;
		}

		.block-cta div p {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 20px;
			color: #707070;
		    background: #fff;
		    padding: 40px 0 40px 40px;
		}
		@media (max-width: 700px) {
			.block-cta {
				margin-bottom: 20px;
			}

			.block-cta img {
				display: none;
			}

			.block-cta div a {
				margin-left: 40px;
				margin-bottom: 20px;
			}
		}

	.block-popular {

	}

		.block-popular article {
		}

			.block-popular article img {
				width: 80%;
			    margin: auto;
			}

			.block-popular article div {
				width: 80%;
    			padding-bottom: 18px;
    			text-align: center;
			    margin: auto;
			}


		.block-popular .slick-dots {
		    list-style: none;
		    margin: 0;
		    padding: 0;
		    text-align: center;
		    width: 100%;
		}

		.block-popular .slick-dots li {
 		   display: inline-block;
		}

		.block-popular .slick-dots li button {
			background: #ED1C24;
			border: none;
			border-radius: 50%;
			display: block;
			font-size: 0;
			height: 12px;
			margin: 0 4px;
			padding: 0;
			width: 12px;
		}

	.block-about: {

	}

	.block-signup {
		background: #EFF0F2;
		text-align: center;
		padding: 20px 0 20px 0;
	}

	.block-map div.left {
		flex: 40%;
	}

	.block-map div.left .gmap_canvas {
		width: 100%;
		height: 100%;
	}

	.block-map div.left .gmap_canvas iframe {
		width: 90%;
		height: 100%;
	}

	.block-map div.right {
		flex: 60%;
	}

	.block-map div.right table {
		width: 70%;
	}


	.block-map ul li {
		font-size: 20px;
		color: #ED1C24;
		margin: 0 0 8px 0;
	}

	.block-map ul li span {
		margin-left: 16px;
		display: inline-flex;
		color: #000;
	}

	@media (max-width: 700px) {
		.block-map div.flex {
			display: block;
		}

		.block-map div.left {
			overflow: hidden;
		}

		.block-map div.left .gmap_canvas {
			width: 100%;
			height: 300px;
		}

		.block-map div.left .gmap_canvas iframe {
			width: 100%;
		}

		.block-map div.right table {
			width: 100%;
		}
	}

/***************************
* MENU STYLES
***************************/

.menu-page {
	display: flex;
}

	.menu-page .menu-content {
		flex: 75%;
	    flex-wrap:wrap;
	}

		.menu-content .product {
			width: 40%;
			border: solid 1px #ED1C24;
			margin: 10px;
		    padding: 10px;
		}

		.menu-content .product h3 span.woocommerce-Price-amount {
			float: right;
		}

		.menu-content .product .product-information {
			display: flex;
		}

		.menu-content .product .product-information form,
		.menu-content .product .product-information img {
			width: 50%;
		}

		.menu-content .product .product-information img {
			height: 50%;
		}

		.menu-content .product .product-information form {
			margin-bottom: 0;
		}

		.menu-content .product .tags span {
			background-color:#000;
			display: inline-block;
			cursor: pointer;
			color: #fff;
			font-size: 8px;
			font-weight: bold;
			padding: 4px 4px;
			text-decoration: none;
		}

		.product-information form .woocommerce div.product form.cart {
			position: absolute;
			bottom: 30px;
		}

	.menu-page .menu-filters {
		flex: 25%;
	}

	#drop-filters {
		display: none;
	}

.menu-page .menu-filters label,
.filter-list label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-page .menu-filters label input,
.filter-list label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


.radiomark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}


.menu-page .menu-filters label:hover input ~ .radiomark,
.menu-page .menu-filters label:hover input ~ .checkmark,
.filter-list label:hover input ~ .radiomark,
.filter-list label:hover input ~ .checkmark {
  background-color: #ccc;
}


.menu-page .menu-filters label input:checked ~ .radiomark,
.filter-list label input:checked ~ .radiomark {
  background-color: #eee;
}

.radiomark:after,
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.menu-page .menu-filters label input:checked ~ .radiomark:after,
.menu-page .menu-filters label input:checked ~ .checkmark:after,
.filter-list label input:checked ~ .radiomark:after,
.filter-list label input:checked ~ .checkmark:after {
  display: block;
}

.menu-page .menu-filters label .radiomark:after,
.filter-list label .radiomark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ed1c23;
}

.menu-page .menu-filters label .checkmark:after,
.filter-list label .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ed1c23;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}



	@media (max-width: 700px) {
		.menu-page {
			display:block;
			flex-direction: column-reverse;
		}

		.menu-page .menu-content,
		.menu-page .menu-filters {
			flex: 100%;
		}


		.menu-content .product {
			width: 100%;
			margin: 0;
			padding: 0;
			margin-bottom: 10px !important;
		}

		.menu-content .product > div {
		    padding: 10px;
		}

		.menu-page .menu-filters .filters {
			display: none;
		}

		#drop-filters {
			display: block;
			flex: 100%;
			background: #000;
			margin-bottom: 10px;
		}

			#drop-filters h4 {
				margin: 0 auto;
				width: 80%;
				padding: 20px 0 20px 0;
			}

			#drop-filters h4 a {
				color: #fff;
			}

			#drop-filters .filter-list {
				display: none;
			    margin: 0 auto;
			    width: 80%;
			}

			#drop-filters .filter-list,
			#drop-filters .filter-list h3 {
				color: #fff;
			}

			#drop-filters .filter-list h3 {
				margin: 0;
			}

			#drop-filters .filter-list ul {
				padding: 0 10px;
				display:flex;
				flex-wrap: wrap;
			}

			#drop-filters .filter-list ul li {
				width: 50%;
			}

		#filter-toggle {
			display: block;
			position: relative;
			top: 50px;
			z-index: 1;
			-webkit-user-select: none;
			user-select: none;
		}

		.indicator {
			float: right;
		}

		.glyphicon-chevron-down-custom span, .glyphicon-chevron-up-custom span {width: 10px; height: 5px; background-color: rgb(255, 255, 255); display: inline-block; transition: all .1s linear;}
		.glyphicon-chevron-down-custom .sp-1, .glyphicon-chevron-up-custom .sp-2 {transform: skewY(-40deg);}
		.glyphicon-chevron-up-custom .sp-1, .glyphicon-chevron-down-custom .sp-2 {transform: skewY(40deg);}
		.glyphicon {top: -2px;}
	}


/***************************
* BASKET STYLES
***************************/
	.woocommerce table.shop_table {
		border: 0;
		border-radius: 0;
	}

	.woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled] {
		background-color:#ed1c23;
		display: inline-block;
		cursor: pointer;
		color: #ffffff;
		font-size: 15px;
		font-weight: bold;
		padding: 16px 31px;
		text-decoration: none;
		border-radius: 0;
	}

	.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
	.woocommerce .cart .button, .woocommerce .cart input.button,
	.woocommerce a.button {
		background-color:#ed1c23;
		cursor: pointer;
		color: #ffffff;
		font-size: 15px;
		font-weight: bold;
		padding: 16px 31px;
		text-decoration: none;
		border-radius: 0;
	}

	.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {

	}

	.woocommerce .cart .button:hover, .woocommerce .cart input.button:hover {
		background-color:#ed1c23;
		color: #ffffff;
	}

	.woocommerce-cart table.cart td.actions .coupon .input-text {
		height: 47px;
		width: 140px;
	}

	.cart-empty,
	.woocommerce-info,
	.woocommerce-message {
		border-top-color: #ed1c23;
	}


/***************************
* MCE STYLES
***************************/
#mce-EMAIL {
	width: 40%;
	font-size:16px;
	padding:8px;
	border: none;
	border-bottom: 1px solid #4A4A49;
	box-shadow: 0px 0px 0px 0px;
	margin-bottom: 30px;
}

#mc-embedded-subscribe {
	background-color:#ed1c23;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-size: 15px;
	font-weight: bold;
	padding: 16px 31px;
	text-decoration: none;
	border: none;
}


/***************************
* FOOTER STYLES
***************************/
footer {
	max-height: 86px;
    order: 3;
    background: #000;
    padding: 24px 18px;
    border-top: 1px solid #000;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

	footer .logo {
	    display: inline-block;
	    vertical-align: top;
	    width: 30%;
	    height: 100%;
	}

	footer .logo img{
		margin-right: 20px;
		margin-left: 10px;
		max-width: 344px;
	}

	footer .footer-cred {
		color: #fff;
		font-size: 12px;
	}

	footer .footer-cred a {
		text-decoration: none;
	}








.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
